[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-csv-generator = {path = "./dj-csv-generator"}

[dev-packages]

[requires]
python_version = "3.10"
